  .table {
    position: relative;
    font-size: 28rpx;
    background: #fff;
    border-right: none;
    border-radius: 8rpx;
    overflow: hidden;
    .td {
      display: flex;
      flex: 1 1;
      justify-content: center;
      align-items: center;
      .wx-switch-input {
        transform: scale(0.7);
      }
    }
    .button-group {
      background: #ffffff;
      display: flex;
      // justify-content: space-between;
      padding: 20rpx;
      .btn {        
        flex: 1 1;
        color: #FFFFFF;
        &:first-child {
          margin-right: 24rpx;
        }
        &::after {
          border: 0;
        }      
      }
      .btn-primary {
        background: #FFBF00;
      }
      .btn-secondary {
        background: #0096FF;
      }
    }
  }

  .thead {
    border-bottom: none;
    display: flex;
    justify-content: flex-start;
    border-top-right-radius: 8rpx;
    border-top-left-radius: 8rpx;
    overflow: visible;
    color: #4A4A4A;
    // border: 1px solid #ebeef5;
    background-color: #F2F3F8;
    box-sizing: border-box;
  }

  .thead .td {
    padding: 20rpx 10rpx;
    font-weight: bold;    
    text-align: center;
    // border-right: 1rpx solid #fff;
  }

  .thead .td:last-child {
    border-right: none;
  }

  .thead-border .td {
    border-right: 1rpx solid #ebeef5;
  }

  .thead-border .td:last-child {
    border-right: none;
  }

  // .td checkbox {
  //     width: 50rpx;
  //     height: 50rpx;
  // }

  .tbody {
    box-sizing: border-box;
    font-size: 28rpx;
    color: #666;
    border: 1px solid #ebeef5;
    border-top: none;
    border-bottom-left-radius: 8rpx;
    border-bottom-right-radius: 8rpx;
  }

  .tbody-tr {
    display: flex;
    border-bottom: 1px solid #ebeef5;
  }

  .tbody-tr:last-child {
    border-bottom-left-radius: 8rpx;
    border-bottom-right-radius: 8rpx;
  }

  .tbody-tr-stripe {
    background: #fff;
    border-bottom: none;
  }

  .tbody-tr-stripe:nth-child(2n) {
    background: #F6F6F6;
  }

  .tbody-tr .td {
    white-space: wrap;
    padding: 20rpx 10rpx;
    text-align: center;
  }

  .tbody-tr-border .td {
    border-right: 1rpx solid #F6F6F6;
  }

  .tbody-tr-border .td:last-child {
    border-right: none;
  }

  .no-data {
    display: flex;
    padding: 50rpx;
    color: #666;
    justify-content: center;
  }